body{
    background-attachment: fixed;  
    background-size: cover;
}

.card{
    top: 50%;
    box-shadow: 0 0 5px 0;
    background: inherit;
    backdrop-filter: blur(15px);
    margin: 100px;
    text-align: center;
}

.cardtbl{
    top: 50%;
    box-shadow: 0 0 5px 0;
    background: inherit;
    backdrop-filter: blur(10px);
    margin: 10%;
    text-align: center;
}

h1{
    color: #6b9c77;
    font-family: "Oswald", sans-serif;
    font-size: small;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1{
    width: 100vw;
    height: 100vh;
}

.sec2{
    width: 100vw;
    height: 100vh;
}

.sec3{
    width: 100vw;
    height: 100vh;
}

.leftnav{
    width: 4%;
    height: 100vh;
    float: left;
    position: sticky;
    background-color: aliceblue;

}

.nav{
    margin: 0;
    padding: 0;
    list-style: none;
}

